<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2048 Against Cancer</title>

        <link rel="stylesheet" href="/foundation/css/normalize.css">
        <link rel="stylesheet" href="/foundation/css/foundation.css">
        <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">

    </head>

    <body>
        <div class="row panel">
            <div class="large-12 small-12 columns">
                <div class="row">
                    <div class="row" align="center">
                        <h2><strong>2048 Against Cancer</strong></h2>
                    </div>
                    <div class="row">
                        <div class="large-8 small-8 columns">
                            <h4 class="subheader"><a href="http://facebook.com/facebook.com/RallyforTyler">Meet Tyler Wiley.</a> He has been a great friend of mine since I was two years old. He was diagnosed with Medulloblastoma, a form of cancer that attacks the brain and spinal cord, at the age of 13. I wanted to figure out a way to help him raise money for a life saving clinical trial to treat his brain crancer, so my friend <a href="http://faiq.me">Faiq</a> and I hacked together this new version of the popular addicting game, 2048. Log in with Venmo in order to play, and you can donate one cent for every in game move you make! If you do not have Venmo, <a href="https://fundrazr.com/campaigns/0j90f">you can donate directly as well.</a> We need all of the help we can get, and time is running out!</h4>
                        </div>
                        <div class="large-4 small-4 columns">
                            <img src = "https://scontent-a-lga.xx.fbcdn.net/hphotos-ash3/t31.0-8/q74/s720x720/1836691_1435619956684032_2076626461_o.jpg" style="max-height: 400px; max-width: 300px;"/>
                        </div>
                    </div>
                </div>
                <div class="row" align="center">
                    <form method="POST" action="/auth">
                        <button type="submit" id="auth">Donate by playing 2048 now</button>
                    </form>
                </div>
                <div class="row" align="center">
                    <h4><a href="http://samshreds.com">Sam Agnew</a>
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="/foundation/js/vendor/custom.modernizr.js"></script>
        <script src="/foundation/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
